
{% form 'customer' %}
        <input type="hidden" value="customer" name="form_type" />
        <input type="hidden" name="contact[tags]" value="Know Your Glow">
        <input type="hidden" name="utf8" value="✓" />
  
        <input class="contact_email" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Enter your email" name="contact[email]" id="Email" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
        <div class="signup-arrow">
          <input
            type="submit"
            class="submit action_button"
            value="{{ 'contact.form.send' | t }}"
          />
        </div>
{% endform %}
