{% comment %} 'snippets/product-custom-header.liquid2' {% endcomment %}  

{% comment %} inserted into theme.liquid {% endcomment %}  


<section class="product-page-custom-header">
  <a class="shop-now-button" onclick="to_position()">Go to Add to Cart</a>
</section>

<script>

// scroll to ATC - desktop 
function to_position(){
  $('html, body').animate({scrollTop:$('.product_name:first-of-type').offset().top + -500 }, 1000);
}
  
var position = $(window).scrollTop(); 
$('.product-page-custom-header-mobile').addClass("button-hidden");
// $('.product-page-custom-header').addClass("header-hidden");

  
$(window).scroll(function() {
  var scroll = $(window).scrollTop();

  var addToCart_position = ( $("#content_wrapper .add_to_cart").eq(0).scrollTop() + ($( window ).height() * 1.5) );
  var addToCart_next_position = ( $(document).height() - ($(window).height() * 2) );
  var addToCart_next_position_mobile = ( $(document).height() - ($(window).height() * 4) );

  if ($(window).width() < 1100) {
    addToCart_next_position = addToCart_next_position_mobile; 
  }
  
//   show/hide top section
  if ((scroll > addToCart_position) && (scroll < addToCart_next_position)) {
    $('.shop-now-button').addClass('show-button');
  } else {
    $('.shop-now-button.show-button').removeClass('show-button');
  }
  
//   console.log(addToCart_position);
//   console.log(addToCart_next_position);
    
});
   
</script>

<style>

/* button dimensions + main - desktop - position   */
.shop-now-button {
  position: fixed;
  display: none;
  right: 20px;
  bottom: 70px;
  color: #fff;
  background-color: #000;
  padding: 17px 40px;
  border: 1px solid #000;
  border-radius: 2px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease 0s;
  -o-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  cursor: pointer;
  z-index:100000;
}
  
.shop-now-button:hover {
  color: #000;
  background-color: transparent;
}

.show-button {
  display: block;
}  


/* positioning + dimensions on mobile   */
@media all and (max-width:980px){
  .shop-now-button {
    right: 10px;
    bottom: 20px;
    width: calc(100% - 20px);
    text-align: center;
    box-sizing: border-box;
  }
}
  
</style>

