{% comment %} 'snippets/product-custom-header.liquid' {% endcomment %}  

{% comment %} inserted into theme.liquid {% endcomment %}  


<section class="product-page-custom-header">
  <div class="custom-container">
    <div class="custom-header product-image">
      <img src="https:{{ product.featured_image.src|img_url:'small' }}">
    </div>
    <div class="custom-header product-title">
      <h2>{{ product.title }}</h2>
    </div>
    <div class="custom-header shop-now">
      <a class="shop-now-button" onclick="to_position()">Add to Cart</a>
    </div>
  </div>
</section>

<section class="product-page-custom-header-mobile">
    <div class="custom-mobile-container">
      <div class="custom-header shop-now">
        <a class="shop-now-button" onclick="to_position_mobile()">Add to Cart</a>
      </div>
  </div>
</section>


<script>

// scroll to ATC - desktop 
function to_position(){
  $('html, body').animate({scrollTop:$('.product_name:first-of-type').offset().top + -120 }, 1000);
}
  
// scroll to ATC - mobile
function to_position_mobile(){
  $('html, body').animate({scrollTop:$('.product_name:first-of-type').offset().top + -470 }, 1000);
  $('.product-page-custom-header-mobile').addClass("header-hidden");
}  

var position = $(window).scrollTop(); 
$('.product-page-custom-header-mobile').addClass("header-hidden");
// $('.product-page-custom-header').addClass("header-hidden");

  
$(window).scroll(function() {
  var scroll = $(window).scrollTop();

  var addToCart_position = ($( window ).height() * 1.5);
  var addToCart_next_position = $(document).height() - ($( window ).height() * 3.5);
  
//   show/hide top section
  if((scroll > position) && (scroll > addToCart_position) && (scroll < addToCart_next_position) ) {
    $('.product-page-custom-header').addClass('fixed-custom-header');
  } else {
    $('.product-page-custom-header').removeClass('fixed-custom-header');
  }
  
//   show/hide bottom section
  if (scroll < addToCart_position) {
    $('.product-page-custom-header-mobile').addClass("header-hidden");
  } else if ( addToCart_next_position && (scroll > addToCart_next_position )) {
    $('.product-page-custom-header-mobile').addClass("header-hidden");
  } else {
    $('.product-page-custom-header-mobile.header-hidden').removeClass("header-hidden")
  }

  position = scroll;
  
});
   
</script>

<style>
  
.shop-now-button {
  color: #fff;
  background-color: #222;
  padding: 10px 30px;
  border-radius: 2px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 200ms ease 0s;
  -o-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  cursor: pointer;
}

/*   fixing top header */
@media all and (min-width:980px) {
  
  .product-page-custom-header-mobile {
    display: none;
  }
  
  .product-page-custom-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
    position: fixed;
    height: 110px;
    width: 100vw;
    z-index: 1001;
    background-color: #fceae3;
    top: -110px;
    -webkit-transition: top .7s ease-in-out;
      -o-transition: top .7s ease-in-out;
       transition: top .7s ease-in-out;
  }
  
  .fixed-custom-header {
    top: 0;
  }
  
/*   main settings */
  .product-page-custom-header .custom-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; 
    width: 80%;
    max-width: 1220px;
  }
  
  .product-page-custom-header .custom-container div {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
  
  .custom-header.product-image,
  .custom-header.shop-now {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 10%;
            flex: 1 1 10%;
  }
    
  .custom-header.product-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60%;
            flex: 1 1 60%;
  }
  
/*   title style */
  .custom-header.product-title h2 {
    font-family: FreightDispProBook-Regular;
	font-weight: 200;
    font-size: 2vw;
    letter-spacing: 0;
    text-transform: none;
  }
   
/*   button style */  
  .custom-header.shop-now {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
/*   .shop-now-button:hover {
    color: #000;
    background-color: #f9dbd0;
  }  */

/* transparent Custom header button */
  .shop-now-button {
    border: 1px solid #000;
  }
  
  .shop-now-button:hover {
    color: #000;
    background-color: transparent;
  } 
  
}

  @media all and (max-width:980px){
    
    .product-page-custom-header {
      display: none;
    }
    
    .product-page-custom-header-mobile {
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70px;
      background-color: #fceae3;
      z-index: 1000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; 
      -webkit-transition: .4s ease-in-out; 
      -o-transition: .4s ease-in-out; 
      transition: .4s ease-in-out;
    }
        
    .shop-now-button {
      padding: 15px 80px;
      position: relative; 
      z-index: 10;
    }
   
    .header-hidden {
      -webkit-transform: translateY(100%);
          -ms-transform: translateY(100%);
              transform: translateY(100%)
    }
    
    .header-visible {
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      color: #fff;
    }

    #loyaltylion .lion-loyalty-widget_position_left {
      bottom: 60px;
	}
  }
  
</style>

