
{% if product.handle == "no-4-decadent-restoring-cream" %}


<!-- <p class="product_expresion">Order now and get it between January 16th & January 18th</p> -->



<!-- <p class="product_expresion">Be the first to know. We'll notify you when this product is available.</p>

  <div class="klaviyo-form-UBfnxX"></div>
  <span class="notify__btn">
    <a href="#" class="klaviyo__notify">yes, notify me!</a>
    <a class="coming__soon">Sold Out</a>
  </span> -->


{% endif %}

