<div class="sticky-wrapper">
  <div id="sticky-button" class="sticky-bottom">
    <div class="sticky-inner-left">
      <div class="quantity" style="margin-top:8px;">
        <input type="number" id="sticky-quantity" class="item-quantity" name="sticky-quantity" value="1" style="width:98%;" />
        <span class="qty-wrapper">
          <span class="qty-inner">
            <span class="qty-up" title="Increase" data-src="#sticky-quantity">+</span>
            <span class="qty-down" title="Decrease" data-src="#sticky-quantity">-</span>
          </span>
        </span>
      </div>
    </div>
    <div class="sticky-inner-right">
      <button type="submit" id="sticky-add-to-cart" name="add" data-label="{{ 'products.product.add_to_cart' | t }}" class="action_button add_to_cart"><span class="text">{{ 'products.product.add_to_cart' | t }}</span></button>
    </div>
  </div>

  <div id="anchor"></div>
</div>

<style>
  #sticky-button {display:none;}
  @media only screen and (max-width: 991px){
    .quantity .qty-inner>span {
      width: 50px;
      height: 42px;
      text-align: center;
      padding: 0px;
      font-weight: 400;
      cursor: pointer;
      display: inline-block;
      line-height: 40px;
      font-size: 0;
      -moz-transition: all 0.3s ease-in-out 0s;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -ms-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    .quantity .qty-inner>span:before {
      content: '';
      height: 1px;
      width: 13px;
      background: #555;
      position: absolute;
      display: block;
      left: 18px;
      top: 20px;
    }
    .quantity .qty-inner>span.qty-up:after {
      content: '';
      height: 13px;
      width: 1px;
      background: #555;
      position: absolute;
      display: block;
      left: 24px;
      top: 14px;
    }  
    .quantity .qty-inner>span.qty-down {
      position: absolute;
      display: block;
      left: 0px;
      top: 8px;
      border-radius: 25px 0 0 25px;
      -moz-border-radius: 25px 0 0 25px;
      -webkit-border-radius: 25px 0 0 25px;
      border-right: 1px solid #eee;
    }
    .quantity .qty-inner>span.qty-up {
      position: absolute;
      display: block;
      top: 0px;
      right: 0px;
      border-radius: 0 25px 25px 0;
      -moz-border-radius: 0 25px 25px 0;
      -webkit-border-radius: 0 25px 25px 0;
      border-left: 1px solid #eee;
    }  
    .quantity {margin-left:15px;position: relative; display: inline-block;}
    .quantity .qty-inner>span {height:38px;}
    .quantity .qty-inner>span.qty-up {top:2px;}
    .quantity .qty-inner>span.qty-down {top:2px;}  
    .quantity input {
      box-shadow: inset 0 0 0 #fff;
      border: 1px solid #eee;
      border-radius: 25px 25px 25px 25px;  
      text-align: center;
      height:45px;
    }
    #sticky-button {
      position: absolute;
      bottom: 0; 
      left: 0;
      background-color: #fff;
      padding: 0 0 0 5px;
      width: 100%;
      text-align: center;
      height:70px;
      display:none;
      -webkit-box-shadow: -6px 3px 5px 6px #ccc;
      -moz-box-shadow:    -6px 3px 5px 6px #ccc;
      box-shadow:         -6px 3px 5px 6px #ccc;
    }

    .sticky-bottom {
      position:fixed!important;
      bottom:0!important;
      display:block;
      z-index:10000!important;
    }    

    #sticky-add-to-cart {height: 45px !important;width: 60%;margin-top:5px !important;}
    .sticky-bottom #pre-order {height: 40px;width: 60%;margin-top:10px !important;}
    .sticky-inner-left{width:40%;float:left;font-size:14px;height:95%;position: relative;}
    .sticky-inner-right{width:60%;float:left;height:95%;}
    .sticky-inner-left .quantity .qty-inner>span.qty-down::before {top: 20px;left:20px;}  
    .sticky-inner-left .quantity .qty-inner>span.qty-up::before {top: 18px;left:15px;}
    .sticky-inner-left .quantity .qty-inner>span.qty-up::after {top: 12px;left:21px;}
    
    #preview-bar-iframe {display:none;}

  }

  @media only screen and (max-width: 767px){  
    #sticky-button {
      height:70px;
    }

    #sticky-add-to-cart {height: 40px !important;width: 80%;margin-top:10px !important;}
    .sticky-bottom #pre-order {height: 40px;width: 80%;margin-top:10px !important;}
    .sticky-inner-left .quantity .qty-inner>span {height:40px;}  
    .sticky-inner-left .quantity .qty-inner>span.qty-down {top:0;left:0;}
  }
</style>