{{ 'advertorials.css' | asset_url | stylesheet_tag }}
        <div class="hero_image_block">
            <img class="hero_image" src="https://cdn.shopify.com/s/files/1/1212/4268/files/Top_Img.png?v=1580990607">
        </div>
        <div class="content">
<div class="content_position">
 {% section 'advertorials5' %}
<div class="explore_btn_block">
  <a href="https://averraglow.com/collections/all">Check Our Products</a>
</div>  
<div class="hero_image_block">
	<img class="hero_image" src="https://cdn.shopify.com/s/files/1/1212/4268/files/FullwidthTopImg.svg?19701">
</div>  
<div class="headline_block">
<h1 class="headline">Feel like There Is No Way to Get Rid of Acne and Breakouts?</h1>
</div>
<div class="subheadline_block">
<h1 class="subheadline">No creams, diets, or pharmaceutical drugs can help?</h1>
</div>
<div class="general_text_center">
<p class="general_text">Continue reading: I'm going to share my personal story of 16 years battling acne...<br /> And How I Healed it Using These Natural Products...</p>
</div>
<div class="compare_block">
<div class="compare_images_block"><img class="compare_img" src="https://cdn.shopify.com/s/files/1/1212/4268/files/Before_After.svg?18846" /></div>
<div class="compare_text_block">
<p>I looked over at my mom with a tear running down my cheek. This is ridiculous, I told her, throwing my hands in the air: <br /> <br /> <b>“I’m almost 30 years old and look like I have the face of a sweaty, teenage boy who hasn’t showered in a week.”</b></p>
</div>
</div>
<div class="headline_block">
<h1 class="headline">Not Too Much Had Changed</h1>
</div>
<div class="general_text_block">
<p class="general_text">I walked over to the mirror and studied the very red and very irritated bumps on my face one more time. I squinted and thought to myself, I think I see a difference. <br /><br /> I was excited, I had just started a new cream that others swore by and praised up and down on the forums. Perhaps this is finally it, the holy grail of creams, the one I have been waiting for.  <br /><br /> Weeks went by, and optimism gradually faded to fear then disgust, and finally, anger as my new found cream was added to the pile of half-used tubes hiding in the back of my drawer. Why can’t I figure this out? So many questions came to my mind, each more puzzling than the next. <br /><br /> I had heard every name in the book from pizza face to Rudolph.  <br /><br /> I had been battling acne on and off (mostly on) for 16 years. I had been to the moon and back and was desperate for something, anything to work.</p>
  <p class="general_text"><img class="content_img_left" src="https://cdn.shopify.com/s/files/1/1212/4268/files/Drugstore.svg?18847" /> <br /><br /><b>At 13, I rode my bike to the local drugstore to buy makeup and zit cream.</b> <br /><br /> I would lather my face with clean and clear products hoping by some miracle, they would whisk my puffy whiteheads away to be quickly forgotten about. <br /><br /> They did make me forget about my zits because I had a new problem.  <br /><br /> The flakes and dusty layers of skin I acquired looked like I could be a prime candidate for a head and shoulders commercial.</p>
  <p class="general_text">Back down to the drugstore, I went, and <b>variations of creams, gels, pads, strips, and wipes were purchased,</b> each creating more trouble than the last. <br /><br /> Every time I shopped, I was ever more drawn to the makeup section with its gleaming bottles and colorful promises. <br /><br /> The model’s picture smiled out to me that I too could have beautiful, radiant skin, no strings attached with the introduction of foundation and concealer. <br /><br /> I happily took my basket to the counter and smiled as I delightfully handed over my hard earned babysitting money. <b>I slathered and covered and forgot about the ugliness I felt underneath with my cover girl cocktail.</b> <br /><br /> Ultimately, I am not sure what was worse, the patches of red from my nose to my chin, or the <b>orange line left on the side of my jaw and hairline from my caked on Wet and Wild concealer.</b> <br /><br /><b> I was a modern-day Oompa Loompa.</b></p>
  <p class="general_text"><img class="content_img_left" src="https://cdn.shopify.com/s/files/1/1212/4268/files/Illustration.svg?18848" /> Getting my mother to take me to the dermatologists was like pulling teeth, but after much whining, she conceded. <br /><br /> My new skin routine consisted of a nurse brushing on a tingly, itchy glycolic peel and a prescription for a cream I had heard good things about. <br /><br /> Promise filled the air, as I happily handed my newly scribbled doctor’s note to the pharmacist at Walgreens. <br /><br /> Minutes later, he gave me my package while muttering the words, <b>“If this doesn’t work for you, there are literally hundreds of more creams you can try. Talk to your dermatologist, and have him write you a new prescription if this one doesn’t do anything in the next few months.”</b></p>
  <p class="general_text">My eyes glazed over, as promise was run over by the 80-year-old lady, white-knuckling the steering wheel, pulling up to the window at the pharmacy drive-through. <br /><br /> <b>By the time I had turned 21, my skin was no better than I had started at 13.</b> The only thing that became smaller was my tolerance and my wallet. <br /><br /> As my budget increased on products and possible treatments to try, so did my acne. <br /><br /> <b>These painful, horrible red splotches stayed for weeks on end and were worse than any white or blackhead.</b> Just when I thought I was healing, 3 more popped up in its place. <br /><br /> My hands got antsy, and I started picking, only leaving me with <b>brownish scars, redder cheeks,</b> and no more answers than I had when I started this battle. <br /><br /> In addition to my rosy complexion, I had small, white bumps on every inch of my skin making it feel like rough sandpaper.</p>
  <p class="general_text"><img class="content_img_left" src="https://cdn.shopify.com/s/files/1/1212/4268/files/Dreams.svg?18849" /> <br /><br /> <b>Dreams of clear skin became distant and unlikely.</b> <br /><br /> Back down to the doctor I went, and this time with hopes of a new cure: birth control. Many peppered their fantastic results all over the internet and at this point, what did I have to lose? <br /><br /> The nurse practitioner was happy to give me my prescription along with a sample of the newest wonder birth control, guaranteed to clear up any acne issues. <br /><br /> Not too long after I began taking it, my skin cleared up. <br /><br /> I was dumbfounded.</p>
  <p class="general_text">Who knew all this time that this was the answer? <br /><br /> I happily told others of my new found fix, until new problems started surfacing. <b>Not only did I gain about 10 pounds, but for the first time in my life, I had a yeast infection, which was incredibly gross, irritating, and painful.</b> <br /><br /> I found myself once again back down at the drugstore for my new problem. <br /><br /> One hurdle down, now I had to handle my newly developed pounds. I only thought this was my problem, when not but a month later and again, <b>for the first time in my life, I developed a bladder infection.</b>  <br /><br /> After the purchase of about a case of 100% Pure Cranberry Juice (not your Ocean Spray cocktail, this stuff will make you say pucker up buttercup), prescription antibiotics, and bladder pain relief pills that turned my pee orange, I worked through the trauma of my new found issue. <br /><br /> About two months later, I acquired another bladder infection. This became a new staple problem I had to deal with every other month. I started to order cranberry pills by the dozens on Amazon. <br /><br /> About 9 bladder infections later and upon digging, <b>I found that my current birth control had side effects a mile long including the possibility of bladder and yeast infections.</b> This was just one of the many byproduct possibilities of what it was doing to my insides.</p>
</div>
</div>
</div>
<div class="devider">
<h1>But, Boy Did I Have Clear Skin.<br />Wasn't this a price I was willing to pay? </h1>
</div>
<div class="content">
<div class="content_position">
<div class="general_text_block">
<p class="general_text"><img class="content_img_left" src="https://cdn.shopify.com/s/files/1/1212/4268/files/Theprice.png?v=1580386315" /><br /><br />I made an appointment with my doctor and told her about my new issues and my thoughts of it being associated with my birth control. <br /><br /> She refused that the birth control was the cause and her solution was to write me a new prescription for an antibiotic that kills bacteria (both good and bad) in the body. <br /><br /> I was to take this indefinitely, along with my birth control. <br /><br /> She wouldn’t even write me a different kind of birth control prescription, claiming if there were no other side effects that I was dealing with, I should stick to the one I was on. </p>
  <p class="general_text"><b>I walked out of the building bitter, as shiny posters of the brand of birth control I was taking gleamed at me, decorating the office of my OB-GYN.</b> <br /><br /> I started talking to my friends about any of the birth controls they were on. One was on another kind that made her gain 50 pounds, another was on one that made her feel crazy and empty inside, another almost caused her marriage to end because of the anger problems she was now experiencing, and another acquired acne when she went on her birth control. <br /><br /> Looks like we had all traded one problem for another. <br /><br /> It seemed there was no good answer to my birth control dilemma and after my <b>12th bladder infection, I discontinued using it, and no, I never had another bladder infection again.</b> <br /><br /> <b>With the discontinuing of the birth control, I said goodbye to clear skin, hello breakouts.</b> Not only that, but I gained more weight again and lost even more confidence. <br /><br /> Years past by and by my late 20's my acne had once again migrated to a new location on my face, my lower cheeks, jawline, and forehead, and shoulders.  <br /><br /> Defeated thoughts clouded my brain that I was never going to figure this out.</p>
  <p class="general_text"><img class="content_img_left" src="https://cdn.shopify.com/s/files/1/1212/4268/files/Everyone.png?v=1580386362" /><br /><br />The lines I heard by so many dermatologists and doctors like  <b>“I would grow out of it” or “It really isn’t that bad” and “I’ve seen worse,”</b> infuriated me and discouraged me. <br /><br /> They had no answers, and I had no patience because this was getting far too old and I was far too tired of hearing myself complain. <br /><br /> I wanted to retreat like a wounded soldier in what I felt was a rigged game.  <br /><br /> <b>I mean, I could live in my pajamas, right?</b> </p>
  <p class="general_text">I would be meals on wheels biggest customer. It seemed to work out in my head until I remembered I had to go to work and had a life to live. <br /><br /> <b>If countless doctors, pharmaceutical companies, and traditional products didn’t give me answers,</b> then I knew it meant one thing, it was going to have to come down to me and my approach. <br /><br /> <b>Because no ONE cared in the last 16 years that I hadn't fixed my issue...</b> <br /><br /> And honestly...  <br /><br /> <b>I was sick spending money on products that didn’t work... I mean, I spent 16 years trying to find the solution but nothing, NOTHING has worked until this point without having any side effects...</b> <br /><br /> I felt hopeless…  <br /><br /> However, I started researching acne and its causes... As well as  <br /><br /> And surprisingly it HAS nothing to do with changing your pillowcase or any other BS you've found online by now...    The number 1 reason for it is... </p>
</div>
</div>
</div>
<div class="devider">
<h1>Most solutions that exist in the market are made for<br /> one thing and one thing only...</h1>
</div>
<div class="content">
<div class="content_position">
<div class="general_text_block">
<p class="general_text">Fight the bad bacteria... <br /><br /> But while they're actively trying to get rid of the bad bacteria, they get rid of the good bacteria too!   <br /><br /> Let me ask you a question... <br /><br /> Have you felt this squeaky feeling after using skincare products?  <br /><br /> This actually causes an imbalance on your skin... which causes more breakouts. </p>
  <p class="general_text"><img class="content_img_left" src="https://cdn.shopify.com/s/files/1/1212/4268/files/Damage.png?v=1580386412" /> <br /><br /> <b>This is DAMAGING to your skin!</b><br /><br />This realization only pushed me to do more research and it was all starting to come together…<br /><br />Scientific research, books, and consultations with the doctors were all leading me in the same direction...<br /><br />Soon enough, <b>I started experimenting on my own skin with the products I’ve created…</b></p>
  <p class="general_text">Within a few months, my husband started seeing small improvements on my skin and would encourage me to continue doing what I’ve been doing.  <br /><br /> This encouraged me to study it even further until I had it down to science…  <br /><br /> <b>I’ve discovered natural ingredients that we don’t have here in the US, flew to countries like Norway, France, Italy with one goal and one goal only…</b>  <br /><br /> To make an all-natural formula that would help women around the world heal this terrible condition… <br /><br /> <b>The formula that would fight off bad bacteria, nurture the good one and balance oil production on the skin.</b><br><br> After using the products myself &amp; healing my breakouts completely, my friends started to ask me if I could make some more products for them…  <br /><br /> I’d got to a point where I would get hundreds of orders every month from my friends only… </p>
  <p class="general_text"><img class="content_img_left" src="https://cdn.shopify.com/s/files/1/1212/4268/files/Beforeafter_4a8991b2-c547-476f-bee2-d410438f4db1.png?v=1580386517" /> <br /><br /> <b>Fast forward to today, we’ve got over loyal 20421+ customers in the US that are enjoying their healthy and glowing skin.</b> <br /><br /> But what’s more important…  <br /><br /> They have the confidence now to leave their house, go to work &amp; enjoy social events with their friends…  <br /><br /> <b>It actually works!</b> <br /><br /> But don't take my word for it... </p>
</div>
</div>
</div>
        <div class="review_headline">
            <h1>Here’s what women are saying about us</h1>
        </div>
        <div class="video_reviews_block">
            <div class="video_reviews_position">
                <div class="video_item">
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/pCcujoIfSFI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="video_item">
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/A_-WSUNjjKw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="video_item">
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/UCXR0PyzZXM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="mission_block">
            <div class="mission_block_position">
                <div class="mission_headline">
                    <h1>Our Mission</h1>
                </div>
                <div class="mission_text_block">
                    <h1>Help thousands of women feel confident in their own skin.</h1>
                    <p>Over 40 all-natural ingredients, that help to balance the oil production on the skin, eliminate the bad bacteria, help remove dead skin &amp; nurture the skin with nutrients it needs to be healthy, glowing, and clear. </p>
                </div>
            </div>
        </div>
        <div class="forth">
            <div class="container cont_2">			
                <div class="steps-item">
                    <div class="steps-item-image">
                        <img src="//cdn.shopify.com/s/files/1/1212/4268/files/icon1_2500x.png?v=1573678237" alt="benefit image">
                    </div>
                    <div class="steps-item-title">
                        <h4>Beauty</h4>
                    </div>
                    <div class="steps-item-text">
                        <p>Reveal the true you and achieve stunning results of nourished skin for healthy complexion.</p>
                    </div>
                </div>
              	
                <div class="steps-item">
                    <div class="steps-item-image">
                        <img src="//cdn.shopify.com/s/files/1/1212/4268/files/icon2_2500x.png?v=1573678259" alt="benefit image">
                    </div>
                    <div class="steps-item-title">
                        <h4>Confidence</h4>
                    </div>
                    <div class="steps-item-text">
                        <p>Forget hiding behind layers of makeup, achieve the clear, smooth skin you never thought possible!</p>
                    </div>
                </div>
              	
                <div class="steps-item">
                    <div class="steps-item-image">
                        <img src="//cdn.shopify.com/s/files/1/1212/4268/files/icon3_2500x.png?v=1573678275" alt="benefit image">
                    </div>
                    <div class="steps-item-title">
                        <h4>Glow</h4>
                    </div>
                    <div class="steps-item-text">
                        <p>Achieve radiant skin with nourishing ingredients to help bring skin health to optimal level.</p>
                    </div>
                </div>
        </div>
    	</div>
        <div class="fans_headline">
            <h1>Our Fans are <span class="red_text">Raving</span> about Averr Aglow</h1>
        </div>




		<div class="users_block">
            <div class="users_position">
                <div class="user_item">
                    <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Before_After_IMG.png?v=1580809872">
                    <div class="user_info">
                        <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Verified_User_Avatar.png?v=1580809919">
                        <div class="profile_info">
                            <div class="user_name">
                                <h1>Mindy J.</h1>
                                <h4>Verified user</h4>
                            </div>
                            <h3>33, Gering NE</h3>
                            <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Feedback_Stars.png?v=1580809892">
                        </div>
                    </div>
                    <p>"I've been using the Clear Skin Kit for about six months. 
                    <br><br>
                    I have had acne since my teens, everything I had tried never really worked. Over the last few years, I have had cystic and hormonal acne and had a hard time getting it under control. So, I decided to start using Rodan and Fields. I did 2 rounds of their unblemished regimen and it didn’t help at all. Then, I came across AverrAglow and decided to give it a try. I’m so glad I did. It has cleared up all my acne and I haven’t had any major breakouts like I had been having, and has helped all my scars lessen.
                    <br><br>
                    My before pictures are AFTER the 2 rounds of R&amp;F in January and my after pictures were taken in June after using the Clear Skin Kit."</p>
                </div>
                <div class="user_item">
                    <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Before___After_IMG.svg?19018">
                    <div class="user_info">
                        <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Verified_User_Avatar_b35a8eec-8641-4484-8710-427785f23cea.png?v=1580810311">
                        <div class="profile_info">
                            <div class="user_name">
                                <h1>Holli S.</h1>
                                <h4>Verified user</h4>
                            </div>
                            <h3>24, Austin TX</h3>
                            <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Feedback_Stars.png?v=1580809892">
                        </div>
                    </div>
                    <p>"I've been using AverrAglow for a couple of months now, and I have been floored by the results. I've searched for something - anything that works for my skin. All I've wanted is to go without makeup and feel comfortable in my skin. I've tried everything and it's failed. All-natural products are also of utmost importance and all the natural products I've tried have failed as well.
						<br><br>
						I've shown everyone I know these pictures and told them all about AverrAglow. People ask me all the time what I'm using and I gladly tell them. My best friend also hopped on board and is loving her results so far."
                  	</p>
                </div>
                <div class="user_item">
                    <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Group_11.png?v=1580810523">
                    <div class="user_info">
                        <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Verified_User_Avatar_f320d331-ad5f-4157-8d96-79622073de8c.png?v=1580810657">
                        <div class="profile_info">
                            <div class="user_name">
                                <h1>Crystal M.</h1>
                                <h4>Verified user</h4>
                            </div>
                            <h3>35, Dallas TX</h3>
                            <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Feedback_Stars.png?v=1580809892">
                        </div>
                    </div>
                    <p>I've had been struggling with cystic acne, oily skin, and enlarged pores for about 15 years. I've been to the dermatologist and have been prescribed clindamycin for a couple of years. I've tried Proactiv, Murad, retinol, benzoyl peroxide, and so many products with salicylic acid. Everything I have used has had many artificial processed ingredients.
						<br><br>
					   When I looked into AverrAglow it was so refreshing to see a company actually using all-natural ingredients, I had to try it out. I ended up getting the Clear Skin Kit & within the first week, my skin felt renewed. My pores were smaller, I didn't need to exfoliate as often and my acne had pretty much disappeared. I have been using the kit for 6 months & will continue to use it for the rest of my life, I love that it's good for anti-aging as well. Nothing harsh or artificial, so I feel like it gives me the skin I was supposed to have.
                    </p>
                </div>
            </div>
        </div>




        <div class="made_of_block">
            <div class="made_of_position">
                <h1>All of our products are made for health &amp;<br><span class="red_text">environmentally conscious women.</span></h1>
                <p>We care about making our products safe and healthy for you - and our planet.<br>That’s why we use only all-natural products and don’t test any of our products on animals.</p>
                <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Features.png?v=1580387106">
            </div>
        </div>
        <div class="message_block">
            <div class="message_position">
                <div class="review_headline">
                    <h1>SEE WHAT PEOPLE ARE SAYING!</h1>
                </div>
                <div class="messages">
                    <div class="left_message_block">
                        <div class="message">
                            <p>I have been using the kit since early July and I am loving the results! Out of nowhere in January of this year, I started having the worst acne ever. I saw an ad on Instagram just one month before my wedding and decided to go for it. While I wasn't 100% clear for the big day, I was in no more pain and the redness was now something I could correct.
                            <br><br>
                            It wasn't until just the last few weeks I looked in the mirror realizing that my troubles seem to be fading away! I will still have one or two baby zits now and then but wow! So 3.5 ish months in i am so happy I saw that ad! Thank you for an amazing product!
                            <br><br>
                                <b>—  Melissa D.</b> 
                            </p>
                        </div>
                        <div class="message">
                            <p>I have been using the products for a little over a month. I can't believe I am seeing flatter, clearer skin! Thank-you so much for giving me my confidence back! 
                            <br><br>
                            <b>—  Juli C.</b> 
                            </p>
                        </div>
                    </div>
                    <div class="right_message_block">
                        <div class="message">
                            <p>I have very oily skin that easily clogs. It has been a long road finding something that doesn't dry me out or scar my skin. I've tried every product under the sun and avoided taking pictures.
                            <br><br>
                            I started to use the Clear Skin Kit, and now I no longer breakout and get the painful, deep red cysts I used to get. Thank you from the bottom of my heart. I am a loyal customer!
                            <br><br>
                            <b>—  Lyndsay</b> 
                            </p>
                        </div>
                        <div class="message">
                            <p>This product is simply amazing! I have combination skin with an acne-prone chin and, while I'm still in the early stages of "detox", I am loving how it works. It's easy to use and as old blemishes get brought to the skin, they are gone as quick as they came! The overnight mask is GOLD!
                            <br><br>
                            <b>—  Elissa D.</b> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ingrid_block">
            <div class="ingrid_position">
                <h1>Here Are Just 3 Out of Over 40<br>
                    Natural Ingredients We Use</h1>
                <div class="ingrids">
                    <div class="ingrid_item">
                        <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/FrenchPinkClay.png?v=1580387062">
                        <h1>FRENCH PINK CLAY</h1>
                        <h3>RICH IN MINERALS</h3>
                        <p>This clay is sourced from the volcanoes in France. It helps to pull out impurities from within the skin, refine pores, and firms skin.</p>
                    </div>
                    <div class="ingrid_item">
                        <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/RaspberrySeedOil.png?v=1580387236">
                        <h1>RASPBERRY SEED OIL</h1>
                        <h3>RICH IN VITAMIN A &amp; E</h3>
                        <p>Helps soothe the skin with rich Omega 3, 6 and 9. It reduces inflammation, leaving you with a smooth, glowing complexion. It helps in reducing acne breakouts.</p>
                    </div>
                    <div class="ingrid_item">
                        <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Coral_fed07bd5-c02a-4c5c-82a8-cd7a7d241625.png?v=1580387236">
                        <h1>CORAL</h1>
                        <h3>OVER 70 MINERALS</h3>
                        <p>This sea fossilized coral, sustainably harvested from beds that used to reside in the ocean. It contains over 73 different minerals that provide rich nutrients to repair damaged skin, healing current breakouts and provide nutrients for the skin to create plump, healthy new skin.</p>
                    </div>
                </div>
            </div>
        </div>
		<div class="featured_on_block">
            <div class="featured_on_position">
                <h1>As Featured On</h1>
                <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Glamour_Logo.png?v=1562775289">
                <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/BuzzFeed_Logo.png?v=1562775289">
                <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/FoxNews_Logo_b687e875-668f-4b16-bcd3-905b508466a5.png?v=1573678510">
                <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/nylon-logo.jpg?v=1562767591">
            </div>
        </div>
        <div class="join_block">
            <div class="join_position">
                <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/PlantIMG.png?v=1580724211">
                <h1>Get Rid of Acne - Regain Your Self Confidence</h1>
                <h3>Join our Averr Aglow Family for Tips, Discount Codes, and Exclusive Access to Sales and More!</h3>
                <a href="">JOIN OUR FAMILY</a>
            </div>
        </div>