
<br><br><br><br><br><br><br><br><br>
<h1>
  You've got $<span id="mydiscount">some</span> discount!!! 
</h1>
<br><br>
<h2 style="text-align: center" id="discountCode">You have no discount code. Check back tomorrow</h2>
<br><br><br><br>

<script>

  
  {%- comment -%}  //   total list of discount links {%- endcomment -%} 

  {%- comment -%}  //   link + count  {%- endcomment -%} 
  var aList = [ 
    {
  {%- comment -%} //       $10 20/109 = ~1/5  {%- endcomment -%} 
      "link" : "lymwikjdmj",
      "count": 	20 
    }, { 
  {%- comment -%} //       -$20 18/109 = ~1/6 {%- endcomment -%}
      "link" : "ruxfvaopcz",
      "count": 	18
    }, { 
  {%- comment -%} //       -$30 16/109 =  ~1/7 {%- endcomment -%}
      "link" : "bmxjgpmavi",
      "count" : 16
    }, { 
  {%- comment -%}//       -$40 14/109 = ~ 1/8 {%- endcomment -%}
      "link" : "bdeqowvsfr",
      "count" : 14
    }, { 
  {%- comment -%}//       -$50 12/109 = ~1/9 {%- endcomment -%}
      "link" : "ilmroibltb",
      "count" : 12
    }, { 
  {%- comment -%}//       -$60 10/109 = ~1/11 {%- endcomment -%}
      "link" : "rrscfjgrgn",
      "count" : 10
    }, { 
  {%- comment -%}//       -$70 8/109 = ~1/14 {%- endcomment -%}
      "link" : "vlogxvjkvo",
      "count" : 8
    }, { 
  {%- comment -%}//       -$80 6/109 = ~1/18 {%- endcomment -%}
      "link" : "bcvqlrpcdy",
      "count" : 6
    }, { 
  {%- comment -%}//       -$90 4/109 = ~ 1/27 {%- endcomment -%}
      "link" : "bkwiykuite",
      "count" : 4
    }, { 
  {%- comment -%}//       -$100 1/109 {%- endcomment -%}
      "link" : "nodtpzdmow",
      "count": 	1
    }
  ]
  
//   get full list
  var bList = [];
  
  aList.forEach(function (arrayItem) {
    for(var a = 0; a < arrayItem.count; a++){
      bList.push(arrayItem.link);
    }
  });
    
  console.log(bList);

////   get random link
  var rand = bList[ Math.floor((Math.random() * bList.length) + 1)];
////   show random link
//   console.log(https://hello-aglow.myshopify.com/discount/"  + rand);
//   window.location.replace('rand');
  
  var codeCookieValue;
  var getCookie = function(name) {
    var value = "; " + document.cookie;
    var parts = value.split('; '+name+'=');
    if (parts.length == 2) return parts.pop().split(";").shift();
  };

  codeCookieValue = getCookie('discount_code');
    
  if(!codeCookieValue){
  
  document.getElementById("mydiscount").innerText = rand.substring(2);
  document.getElementById("discountCode").innerText = "your discount code is "+ rand;
  
  }
  
  if(codeCookieValue){
      document.getElementById("mydiscount").innerText = rand.substring(2);
  }
  
//   cookie message
    
//   $(document).ready(function(){
//   if($.cookie){
//   //$.removeCookie('hide_corona', { path: '/' });
//     if (!$.cookie('hide_corona')) {
//       $('.still-runing-corona').css('display', 'flex');
//     } 
//   }

//   $(document).on('click','.close-corona-message',function(){
//       $('.still-runing-corona').hide();
//       $.cookie( 'hide_corona' , '1', { expires: 3} );
//   });

});
  
</script>

