        {{ 'ambassadors.css' | asset_url | stylesheet_tag }}
        <div class="ambas_hero_image">
            <div class="ambas_hero_image_position">
                <h3>Become A Skincare Influencer </h3>
                <h1>Averr Aglow Ambassadors Program</h1>
                <p>The Averr Aglow Ambassador Program is an exclusive membership for our most passionate and loyal customers! Ambassadors work together with the Glowteam to spread the joy of clear skin.</p>
            </div>
        </div>
        <div class="join_us_block">
            <div class="join_us_position">
                <h1>Why join us?</h1>
                <div class="benefits">
                    <div class="benefit_item">
                        <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Icon_Discount.svg?v=1595559951">
                        <h1>Big Discounts</h1>
                        <p>Get 20% off your favorite Averr Aglow products for the duration of your time as an ambassador!</p>
                    </div>
                    <div class="benefit_item">
                        <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Icon_Following.svg?v=1595560547">
                      	<h1>More Followers</h1>
                        <p>Expand your reach when we tag you in the content we post on our instagram pages.</p>
                    </div>
                    <div class="benefit_item">
                        <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Icon_Money.svg?v=1595560547">
                        <h1>Money in the Bank</h1>
                        <p>Earn a 10% commission on each purchase made using your unique discount code for friends and followers!</p>
                    </div>
                    <div class="benefit_item">
                        <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Icon_Free.svg?v=1595560547">
                        <h1>FREE Merch</h1>
                        <p>Get a welcome package at the start of our partnership with exclusive Averr Aglow merchandise!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="left_image_block">
            <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Photo_1.png?v=1580268742">
            <div class="requirements_block">
                <div class="requirements_position">
                    <div class="require_headline">
                        <h1>AMBASSADOR Requirements</h1>
                        <div class="headline_divider"></div>
                    </div>
                    <div class="require_item">
                        <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Icon_Checkmark.svg?18780">
                        <div class="require_text">
                            <h1>Passion for Averr Aglow</h1>
                            <p>You know the brand, you love the products and you want nothing more than to share your success story with the world!</p>
                        </div>
                    </div>
                    <div class="require_item">
                        <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Icon_Checkmark.svg?18780">
                        <div class="require_text">
                            <h1>Positive On-Camera Energy</h1>
                            <p>You already spend an innate amount of time on camera (what else are smartphones for??) and you’ve got that million-watt smile that turns heads. You’re as comfortable chatting on video about your clear skin journey, as you are gossiping with your bestie about your weird coworker.</p>
                        </div>
                    </div>
                    <div class="require_item">
                        <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Icon_Checkmark.svg?18780">
                        <div class="require_text">
                            <h1>Belief in Clean, Organic Beauty</h1>
                          	<p>Natural ingredients are important to you, not just in your skincare but in your life. You look for ways to live a healthy lifestyle because you’ve already noticed the snowball effect your health has on everything else.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="left_image_block right_image_block">
            <div class="requirements_block">
                <div class="requirements_position">
                    <div class="require_headline">
                        <h1>ambassador responsibilities</h1>
                        <div class="headline_divider"></div>
                    </div>
                    <div class="require_item">
                        <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Icon_Checkmark.svg?18780">
                        <div class="require_text">
                            <h1>Share Your Skin Journey</h1>
                            <p>You’ll send us videos that tell us all about you, your skin, where you started, and what stage of the journey you’re in now. You’ll explain any hesitation you’ve had about trying different skincare and the success you finally found with Averr Aglow.</p>
                        </div>
                    </div>
                    <div class="require_item">
                        <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Icon_Checkmark.svg?18780">
                        <div class="require_text">
                            <h1>Spread the Love</h1>
                            <p>Send your unique affiliate link to everyone! Family, friends, acquaintances, followers, etc. The more people who use your link to purchase their Averr Aglow products, the more money in your pocket.</p>
                        </div>
                    </div>
                </div>
            </div>
            <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Photo_2.png?v=1580268667">
        </div>
        <div class="apply_block">
            <div class="apply_block_position">
                <h1>How to Apply?</h1>
                <p>Applying is simple! Fill out an application with all your important information and submit a 30-second video telling us why you want to be an Averr Aglow Ambassador. Remember, we want to see your passion and personality.</p>
                <a href="https://takethesurveynow.typeform.com/to/cXph4xZe">FILL OUT THE SURVEY</a>
            </div>
        </div>