<div class="product-page-wrapper">

  {% section 'single-cream-product-content-I' %}

  {% section 'single-cream-product-content-II' %}

  {% section 'why-does-it-work' %}

  {% section 'steps-to-success' %}



</div>

