
    <div class="signup-banner">
        <div class="close-icon">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>

        <div class="logo">
            <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/logo.png?v=1605563435" alt="">
        </div>

        <div class="banner-content">
            <div class="text-content">
                <h6>SIGN UP FOR</h6>
              <h1>Exclusive VIP Discounts & <i>$66</i> <span class="dis-mbl"> value</span> Mystery Gift</h1>
                <p>Join our VIP email list to receive exclusive access to our <b> best offer of the year!</b> By signing
                    up,
                    you'll receive an email with an exclusive discount code. Join now!</p>
            </div>

            <div class="signup-form">
                            
                {% section 'frm-signup' %}
              
            </div>

            <div class="close-btn">
                <a href="">CLOSE</a>
            </div>
        </div>
    </div>
	<script>
      $(".submit-btn").click(function(e){
      	e.preventDefault();
        var emailval = $( "#email-val" ).val();
        
        
        if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(emailval)) {
          $(".verify_email").hide();
          // Redirect to Thankyou page
          
          
        } else {
          $(".verify_email").show();
          return false;
        }
          
        
      });
	</script>

