<div class="signup-main thankyou">
<!--     <div class="signup-bg">
        <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Background.jpg?v=1600458836" alt="">
    </div> -->
    <div class="container">
        <div class="inner">
          <div class="signup-content">
            <div class="signup-image">
                <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Thank_You_SVG.svg?v=1600458835" alt="">
            </div>
            <div class="signup-text">
              <p>Can't Wait? Here's Your 15% OFF Code: <b>THANKS15</b></p>
            </div>
            <div class="shop_btn">
              <a href="/collections/all">SHOP NOW</a>
            </div>
          </div>
        </div>
    </div>
</div>