<div class="signup-banner signup-thankyou">

        <div class="close-icon">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>

        <div class="logo">
            <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/logo.png?v=1605563435" alt="">
        </div>

        <div class="banner-content">
            <div class="text-content">
                <h1>Congrats! <br> you are now on our VIP List</h1>
                <p>Enjoy 15% off your next purchase using code: <b> BFCMTHANKS</b> There's more where that came from.
                    Happy
                    Shopping!</p>
            </div>

            <div class="signup-form">
                <form action="">
                    <div class="submit-btn black-btn">
                        <button type="submit">SHOP NOW <i class="fa fa-long-arrow-right"
                                aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>

            <div class="close-btn">
                <a href="">CLOSE</a>
            </div>
        </div>
    </div>

